.u-section-1 .u-sheet-1 {
  min-height: 1812px;
}

.u-section-1 .u-text-1 {
  margin: 46px 866px 0 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 401px;
  margin: 59px 0 0;
}

.u-section-1 .u-video-1 {
  height: 588px;
  animation-duration: 1000ms;
  margin: -79px 0 0 auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-2 {
  margin: -636px 820px 0 0;
}

.u-section-1 .u-custom-html-2 {
  margin-top: 612px;
  margin-bottom: 60px;
  min-height: 428px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 1px;
    margin-right: 666px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-video-1 {
    margin-top: -146px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-top: -633px;
    margin-right: 620px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-bottom: 20px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 446px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-video-1 {
    margin-top: 44px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -632px;
    margin-right: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 266px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 220px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 46px;
    margin-right: 66px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 59px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-video-1 {
    height: 220px;
    margin-top: 108px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-top: -248px;
    margin-right: 20px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 751px;
}

.u-section-2 .u-text-1 {
  margin: 9px 866px 0 0;
}

.u-section-2 .u-custom-html-1 {
  min-height: 685px;
  margin-top: 0;
  margin-bottom: 18px;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 666px;
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
    margin: 18px 50px 0 -50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 43px;
    margin-right: 446px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 266px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
    margin-right: 166px;
  }
}