.u-section-1 .u-sheet-1 {
  min-height: 1282px;
}

.u-section-1 .u-text-1 {
  margin: 0 866px 0 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 401px;
  margin-top: 39px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-video-1 {
  height: 588px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin-top: -138px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-2 {
  margin: -624px 820px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-map-1 {
  margin-top: 627px;
  margin-bottom: 45px;
  height: 269px;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 1px;
    margin-right: 666px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-top: 20px;
    margin-left: initial;
  }

  .u-section-1 .u-video-1 {
    margin-top: -146px;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-top: -633px;
    margin-right: 620px;
  }

  .u-section-1 .u-map-1 {
    margin-top: 671px;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 446px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 214px;
    margin-left: initial;
  }

  .u-section-1 .u-video-1 {
    margin-top: 44px;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -632px;
    margin-right: 400px;
  }

  .u-section-1 .u-map-1 {
    margin-bottom: 32px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 266px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 220px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -178px;
    margin-right: 66px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 39px;
    margin-left: initial;
  }

  .u-section-1 .u-video-1 {
    margin-top: 45px;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-right: 20px;
  }

  .u-section-1 .u-map-1 {
    margin-bottom: 0;
    height: 448px;
    margin-left: initial;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 748px;
}

.u-section-2 .u-text-1 {
  margin: 0 866px 0 0;
}

.u-section-2 .u-custom-html-1 {
  min-height: 457px;
  margin: 0 489px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 61px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 191px;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px 60px 30px;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  margin: 0 400px 0 300px;
}

.u-section-2 .u-icon-1 {
  height: 50px;
  width: 50px;
  margin: 27px auto 0 415px;
}

.u-section-2 .u-icon-2 {
  height: 45px;
  width: 45px;
  margin: -45px 436px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 666px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 570px;
    margin-right: 289px;
    height: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 170px;
  }

  .u-section-2 .u-text-2 {
    width: 250px;
    margin-top: -9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 0;
    margin-left: 367px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 328px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 446px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 14px;
    margin-right: 150px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 47px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 228px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 229px;
    margin-left: 150px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 288px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1261px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-right: 270px;
    margin-left: -4px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 50px;
    margin-left: -50px;
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 644px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 33px;
    margin-right: 215px;
    margin-left: 79px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 143px;
    margin-left: 227px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -155px;
    margin-left: 227px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1131px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 188px;
    margin-left: -152px;
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 527px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: 62px;
    margin-right: 117px;
    margin-left: 95px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 106px;
    margin-right: 133px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -134px;
    margin-left: 140px;
  }
}