.u-section-1 .u-sheet-1 {
  min-height: 1088px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 331px;
  height: auto;
  margin-top: 17px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-video-1 {
  height: 588px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin-top: -146px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-map-1 {
  margin-top: 29px;
  margin-bottom: 0;
  height: 269px;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: initial;
  }

  .u-section-1 .u-video-1 {
    margin-left: initial;
  }

  .u-section-1 .u-map-1 {
    margin-left: initial;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 748px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 457px;
  height: auto;
  margin: 0 233px 0 256px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 80px -11px 20px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 191px;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px 60px 30px;
}

.u-section-2 .u-icon-1 {
  height: 50px;
  width: 50px;
  margin: 44px auto 0 424px;
}

.u-section-2 .u-icon-2 {
  height: 45px;
  width: 45px;
  margin: -38px 436px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 570px;
    margin-right: 133px;
    margin-left: 156px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 157px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 323px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 332px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 23px;
    margin-left: 46px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 120px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 288px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 296px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 540px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 225px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 657px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 675px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 217px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 142px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 404px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 415px;
  }
}